body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
}

#tweets-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.tweet {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}